body {
  background-color: thistle;
}

h1 {
  color: yellow;
  padding: 0px;
  margin: 0px;
}

#placementboard {
  background-color: thistle;
  height: 25px;
  width: 190px;
}

#board {
  background-color: blue;
  height: 160px;
  width: 190px;
  border: 1px solid black;
}

.placement {
  overflow: hidden;
  line-height: 250px;
  padding: 0px;
  margin: 0px;
  font-size: 1000%;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  background-color: thistle;
  height: 25px;
  width: 25px;
  border: 1px solid thistle;
  border-radius: 50%;
}

.square {
  overflow: hidden;
  line-height: 250px;
  padding: 0px;
  margin: 0px;
  font-size: 5px;
  vertical-align: middle;
  text-align: center;
  color: black;
  display: inline-block;
  background-color: grey;
  height: 25px;
  width: 25px;
  border: 1px solid black;
  border-radius: 50%;
}
